extends layout
block nav
  ul#nav-main.nav.justify-content-center.nav-pills
    li.nav-item
      a.nav-link(href='/') Create
    li.nav-item
      a.nav-link.active(href='#') History
block content
  .row
    .col-md-12
      h4.card-title History
      table.table.table-hover
        thead
          tr 
            td ID 
            td Creator 
            td Payer 
            td Amount
            td Status
            td Option
        tbody#historyList
block script
  script(type='text/javascript').
    function refreshList(){
      getHistory(3);
    }
