extends layout
block nav
  ul#nav-main.nav.justify-content-center.nav-pills
            li.nav-item
              a(class='nav-link active' href='#') Create
            li.nav-item
              a(class='nav-link' href='/pay') Pay
            li.nav-item
              a(class='nav-link' href='#') Setting
block content
  .row
    .col-md-12
      h4.card-title Create
      form#form-receive.form(method="POST")
        .form-group
          label(for="amount") Token Amount
          input#trade_id(type="hidden" name="trade_id")
          input#creator(type="hidden" name="creator")
          input#amount.form-control(type="number" name="amount")
        .form-group 
          label(for="remark") Remark
          input#remark.form-control(type="text" name="remark")
        button#btnSubmit.btn.btn-primary(type="button" onclick="addTrade()") Submit
        button#btnSubmit.btn.btn-light(type="button" onclick="getHistory()") History
  .row
    .col-md-6.offset-3 
block list
  .row
    .col-md-12
      h4.card-title List
      table.table.table-hover
        thead
          tr 
            td ID 
            td Creator 
            td Payer 
            td Amount
            td Status
            td Option
        tbody#historyList


