extends layout
block nav
  ul#nav-main.nav.justify-content-center.nav-pills
    li.nav-item
      a.nav-link.active(href='#') Create
    li.nav-item
      a.nav-link(href='/history') History
block content
  .row
    .col-md-6.offset-3
      h4.card-title Create
      form#form-receive.form-inline
        .form-group
          label.mb-2.mr-sm-2(for="amount") Token Amount
          input#amount.form-control.mb-2.mr-sm-2(type="number" name="amount")
        button#btnSubmit.btn.btn-primary.mb-2.mr-sm-2(type="button" onclick="addTrade()") Create
        button.btn.btn-secondary.mb-2.mr-sm-2(type="button" data-toggle="modal" data-target="#importModal") Import
  .row
    .col-md-6.offset-3
      h4.card-title List
      table.table.table-hover
        thead
          tr 
            td ID 
            td Creator 
            td Payer 
            td Amount
            td Status
            td Option
        tbody#historyList 
    .modal.fade#importModal(tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true")
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5#importModalLabel.modal-title Import Trade
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            form.form
              .form-group
                label.col-form-label(for="trade_id") Trade No.
                input#trade_id.form-control(type="number")
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
            button.btn.btn-primary(type="button" onclick="getTrade()") Import
block script
  script(type='text/javascript').
    function refreshList(){
      getHistory(2);
    }