extends layout

block nav
  ul#nav-main.nav.justify-content-center.nav-pills
            li.nav-item
              a(class='nav-link' href='/') Create
            li.nav-item
              a(class='nav-link active' href='#') Pay
            li.nav-item
              a(class='nav-link' href='#') Setting
block content
  .row
    .col-md-12
      form.form
        .form-group
          label(for="trade_id") Trade No.
            .input-group
                input#trade_id.form-control(type="number")
                .input-group-append
                    button#btn-get.btn.btn-primary(type='button' onclick="getTrade()") Get
        .form-group 
          label(for="amount") Amount
          input#amount.form-control(type="text" readonly)
        .form-group 
          label(for="receiver") Receiver
          input#receiver.form-control(type="text" readonly)
        button.btn.btn-primary(type="button") Pay
        button#btnSubmit.btn.btn-light(type="button" onclick="getHistory()") History
block list
  .row
    .col-md-12
      h4.card-title List
      table.table.table-hover
        thead
          tr 
            td ID 
            td Creator 
            td Payer 
            td Amount
            td Status
            td Option
        tbody#historyList
